/* ------- */
/* Sidebar */
/* ------- */
#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  background-color: #fff !important;
  border: none !important;
}
#sidebar-wrapper .sidebar-heading {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  color: #172B4D;
  padding: 0.5rem 1rem;
}
#sidebar-wrapper .list-group {
  width: 15rem;
}
#sidebar-wrapper .list-item {
  border: none;
  padding: 8% 12%;
}
#sidebar-wrapper .list-item:hover, #sidebar-wrapper .list-item:active, #sidebar-wrapper .list-item:focus {
  background-color: #fafafa;
}
#sidebar-wrapper .head-of-sidebar {
  display: flex;
  justify-content: space-between;
  padding: 4.3% 1%;
}
#sidebar-wrapper .btn-menu {
  background-color: transparent;
  border-color: transparent;
}
#sidebar-wrapper .btn-menu:hover, #sidebar-wrapper .btn-menu:focus, #sidebar-wrapper .btn-menu:active {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}
#sidebar-wrapper .btn-menu img {
  width: 24px;
}
.w-25 {
  width: 25%;
}
.w-sidebar {
  width: 4.5%;
}
.mt-16 {
  margin-top: 16% !important;
}
.p-7 {
  padding: 7% !important;
}
.title {
  margin-top: 2%;
}


/* ------------ */
/* Page Content */
/* ------------ */
#page-content-wrapper {
  min-width: 100vw;
}
#wrapper .toggled #sidebar-wrapper {
  margin-left: 0;
}


/* --- */
/* Nav */
/* --- */
#page-content-wrapper .navbar {
  background-color: #fff;
  padding: 0.4% 1.5%;
}
#page-content-wrapper .logo {
  width: 124px;
  padding: 3%;
}
#page-content-wrapper .profile-img {
  width: 45px;
  cursor: pointer;
}
nav .nav-item .drop-user {
  width: 210px;
  padding: 6px;
  margin-top: 6px;
}
nav .nav-item .drop-user a {
  border-bottom: 1px solid #f8f8f8;
  padding: 12px 7px !important;
}
nav .nav-item .drop-user a:hover, nav .nav-item .drop-user a:active, nav .nav-item .drop-user a:focus {
  background-color: transparent;
}
nav .nav-item .drop-user .sign-out {
  color: #ff7302;
  text-align: center;
  border-bottom: none;
}
nav .nav-link {
  padding: 0 !important;
}
nav .navbar-nav {
  align-items: center;
}
nav .drop-content li {
  width: 100%;
}
nav .notification-area {
  margin-bottom: 0;
  list-style: none;
}
nav .dropdown-toggle:hover, .dropdown-toggle:focus, .dropdown-toggle:active {
  text-decoration: none;
  outline: none;
}
nav .dropdown-menu {
  top: 110%;
  right: 1%;
  left: unset;
  padding: 0;
  max-height: 432px;
}
nav .dropdown-item {
  padding: 2% 9% 2% 9%;
} 
nav .notify-drop {
  background-color: #fff;
  min-width: 400px;
}
nav .drop-content {
  background-color: #fafafa;
  overflow-y: scroll;
  max-height: 300px;
}
nav .dropdown-item:hover, nav .dropdown-item:focus, nav .dropdown-item:active {
  background-color: #FF7302;
}
nav .item:hover .notification-text, nav .item:hover .notification-contain h5 {
  color: #fff;
}
nav .dropdown-toggle {
  color: #171717;
}
nav .notification-contain {
  display: flex;
  flex-wrap: wrap;
}
nav .notification-contain h5 {
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  width: 100%;
  color: #4D4F5C;
}
nav .notification-text {
  white-space: normal;
  font-size: 11px;
  color: #43425D;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 0.3rem;
}
nav .t-and-b-notification {
  font-size: 17px;
  padding: 5% 0;
  margin: 0;
}
nav .item {
  border-top: 1px solid #dbd5d5;
}
nav .see {
  font-size: 12px;
  color: #3B86FF;
}
nav .collapse:not(.show) {
  display: flex;
  justify-content: end;
}
nav .notification-sup {
  top: -0.9em;
  right: 0.4em;
  color:#fafafa;
  background-color: #FF7302;
  padding: 5% 11%;
  border-radius: 100%;
  font-weight: 600;
  font-size: 12px;
}
nav .dropdown-toggle::after {
  display: none;
}


/* ------------- */
/* Media Queries */
/* ------------- */
@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }
  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
  #wrapper .toggled #sidebar-wrapper {
    width: 4.5%
  }
  #sidebar-wrapper .icon-sidebar {
    margin: 0 3%;
  }
  #sidebar-wrapper .list-item {
    display: flex;
  }
}


@media (max-width: 767px) {
  #sidebar-wrapper {
    margin-left: 0;
    width: 17%;
  }
  #sidebar-wrapper .sidebar-heading {
    display: none;
  }
  #sidebar-wrapper .list-item {
    width: 26%;
    padding: 4% 7% 7% 8%;
  }
  #sidebar-wrapper .list-group .title {
    display: none;
  }
  #menu-toggle {
    display: none;
  }
  #page-content-wrapper {
    min-width: 82%;
  }
  #page-content-wrapper .logo {
    width: 57%;
    padding: 0;
  }
  #page-content-wrapper .navbar-toggler {
    padding: 0;
    border: 0px;
  }
  .navbar-nav {
    flex-direction: row;
    margin: 6%;
  }
  .navbar {
    flex-wrap: nowrap;
  }
  nav .notify-drop {
    min-width: 290px !important;
  }
  .navbar-nav .dropdown-menu {
    position: absolute;
  }
  nav .dropdown-menu {
    top: 130%;
  }
}