.border-bottom {
    border-bottom: 1px solid #707070;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.form-content {
    background-color: #F9FAFC;   
}
.w-170 {
    width: 170px !important;
}
.w-220 {
    width: 220px !important;
}
.pl-3 {
    padding-left: 8.5% !important;
}
.form-group {
    margin-bottom: 0;
}
form .form-group div:first-child {
    margin-bottom: 0;
}
@-webkit-keyframes myanimation {
    from {
      left: 0%;
    }
    to {
      left: 50%;
    }
  }
  .create-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 30px;
    padding: 15px 0;
    color: #FF7302;
    text-align: left;
    margin: 1% 0 0 5%;
  }
  
  .checkout-wrap {
    color: #444;
    font-family: 'Montserrat', sans-serif;
    margin: 40px auto;
    max-width: 1200px;
    position: relative;
  }
  
  ul.checkout-bar {
    margin: 0 20px;
  }
  ul.checkout-bar li {
    color: #ccc;
    display: block;
    font-size: 15px;
    font-weight: 600;
    padding: 14px 20px 14px 80px;
    position: relative;
  }
  ul.checkout-bar li:before {
    /* -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2); */
    background: #FF7302;
    /* border: 2px solid #FFF; */
    border-radius: 50%;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    left: 20px;
    line-height: 37px;
    height: 35px;
    position: absolute;
    text-align: center;
    /* text-shadow: 1px 1px rgba(0, 0, 0, 0.2); */
    top: 4px;
    width: 35px;
    z-index: 999;
  }
  ul.checkout-bar li.active {
    color: #4D4F5C;
    font-weight: bold;
    font-size: 13px;
  }
  ul.checkout-bar li.active:before {
    background: #FF7302;
    z-index: 99999;
    color: #fff;
  }
  ul.checkout-bar li.visited {
    background: #ECECEC;
    color: #4D4F5C;
    z-index: 99999;
    font-size: 13px;
  }
  ul.checkout-bar li.visited:before {
    background: #FF7302;
    z-index: 99999;
    color: #fff;
  }
  ul.checkout-bar li:nth-child(1):before {
    content: "1";
    font-size: 16px;
  }
  ul.checkout-bar li:nth-child(2):before {
    content: "2";
    font-size: 16px;
  }
  ul.checkout-bar li:nth-child(3):before {
    content: "3";
    font-size: 16px;
  }
  ul.checkout-bar li:nth-child(4):before {
    content: "4";
    font-size: 16px;
  }
  ul.checkout-bar li:nth-child(5):before {
    content: "5";
    font-size: 16px;
  }
  ul.checkout-bar li:nth-child(6):before {
    content: "6";
    font-size: 16px;
  }
    ul.checkout-bar li:nth-child(7):before {
    content: "7";
    font-size: 16px;
  }
  ul.checkout-bar li:nth-child(8):before {
    content: "8";
    font-size: 16px;
  }
  ul.checkout-bar a {
    color: #4D4F5C;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
  }
  
  @media all and (min-width: 800px) {
    .checkout-bar li.active:after {
      -webkit-animation: myanimation 3s 0;
      background-color: #FF7302;
      content: "";
      height: 2px;
      width: 93%;
      left: 50%;
      position: absolute;
      top: -50px;
      z-index: 0;
    }
  
    .checkout-wrap {
      margin: 43px 0 100px 0;
      display: flex;
      justify-content: center;
    }
  
    ul.checkout-bar {
      background-color: #F0F0F5;
      height: 2px;
      margin: 0 auto;
      padding: 0;
      position: absolute;
      width: 90%;
    }
    ul.checkout-bar:before {
      background-color: #FF7302;
      content: " ";
      height: 2px;
      left: 0;
      position: absolute;
      width: 6.5%;
    }
    ul.checkout-bar li {
      display: inline-block;
      margin: 34px 0 0;
      padding: 0;
      text-align: center;
      width: 16.3%;
      font-size: 13px;
    }
    ul.checkout-bar li:before {
      height: 38px;
      left: 40%;
      line-height: 38px;
      position: absolute;
      top: -52px;
      width: 38px;
      z-index: 99;
      background-color: transparent;
      border: 1px solid #FF7302;
      color: #FF7302;
    }
    ul.checkout-bar li.visited {
      background: none;
    }
    ul.checkout-bar li.visited:after {
      background-color: #FF7302;
      content: "";
      height: 2px;
      left: 50%;
      position: absolute;
      top: -34px;
      width: 93%;
      z-index: 99;
    }
  }
  .details p {
    color: #8998AC;
    max-width: 100%;
    margin-bottom: 0;
    font-size: 13px;
    margin-top: 5px;
  }
/* Create Form */
.form-head {
    align-items: center;
}
.form-no {
    background-color: #2EC4B6;
    width: 77px;
    height: 37px;
    transform: translateY(-4px);
    margin-right: -1px;
    color: #fff;
    font-weight: 600;
    font-size: 24px;
    text-align: end;
    margin-right: 1%;
    margin-left: -1px;
    padding-right: 1%;
}
.form-title {
    display: inline;
    color: #2EC4B6;
    font-weight: 600;
}
.form-icon {
    transform: translateY(-4px);
    margin-right: 1.3%;
}
.input-rounded {
    border-radius: 5px;
}
.from-content {
    margin: 2% 0;
    padding-top: 3%;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    box-shadow: 1px 1px 3px 1px #e6e4e4;
}
.from-content form {
    padding: 4%;
}
.from-content label {
    color: #5F6D84;
    font-weight: 600;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0.5%;
}
.form-control-custom {
    height: 38px;
    width: 100%;
    color: #172B4D;
}
.form-control-custom:focus {
    border-color: #dbd8d8;
    outline: 0;
    box-shadow: 0px 0px 1px 1px #919aaa;
}
.action-link {
    color: #FF7302 !important;
    text-decoration: underline !important;
    font-size: 12px;
}
.input-font {
    font-size: 12px;
}
.number-input {
    width: 100px;
    -webkit-appearance: textfield;
}
.number-input-large {
    width: 170px;
    -webkit-appearance: textfield;
}
.number {
    display: flex;
    align-items: center;
}
.next-btn {
    margin: auto 0% 3% 5%;
}
.add-btn {
    margin-top: 30px;
}
.btn-form-primary {
    background-color: #ff7302;
    border-color: #ff7302;
    border-radius: 5px;
    font-size: 14px;
    width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-form-primary:hover, .btn-form-primary:focus, .btn-form-primary:active {
    background-color: #fc8422 !important;
    border-color: #fc8422 !important;
}
.btn-form-primary:focus, .btn-form-primary:active {
    box-shadow: none !important;
}
.btn-form-secondary {
    background-color: transparent !important;
    justify-content: center;
    align-items: center;
    color: #fc8422;
    border-color: #ff7302;
}
.btn-form-secondary:hover, .btn-form-secondary:focus, .btn-form-secondary:active {
    background-color: #ff7302 !important;
    color: #fff;
}
.btn-form-secondary:focus, .btn-form-secondary:active {
    box-shadow: 0 0 0 0.2rem rgba(255, 115, 2, 0.50);
}
.btn-action {
    width: auto;
    font-size: 12px;
}
/* .btn-form-secondary {
    background-color : #172B4D;
    border-color: #172B4D;
    width: 165px;
}
.btn-form-secondary:hover, .btn-form-secondary:focus, .btn-form-secondary:active {
    background-color: rgb(30, 55, 99) !important;
    border-color: rgb(30, 55, 99) !important;
} */
.btn-file {
    position: relative;
    overflow: hidden;
    padding: 7% 30% 7% 30%;
    border: 2px dashed #ced4da;
    background-color: transparent;
    color: #172B4D;
    font-size: 13px;
    width: 100%;
}
.btn-file:hover, .btn-file:focus, .btn-file:active {
    border: 2px dashed #ced4da;
    background-color: transparent;
    color: #172B4D;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 20px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;   
    cursor: pointer;
    display: block;
}

.checkboxes label {
    margin-bottom: 1%;
}
.checkboxes .radio {
    margin: 16px 0;
    display: block;
    cursor: pointer;
    font-weight: 500;
}
.checkboxes .radio input {
    display: none;
}
.checkboxes .radio input + span {
    line-height: 22px;
    height: 22px;
    padding-left: 22px;
    display: block;
    position: relative;
}
.checkboxes .radio input + span:not(:empty) {
    padding-left: 30px;
}
.checkboxes .radio input + span:before, .radio input + span:after {
    content: '';
    width: 22px;
    height: 22px;
    display: block;
    border-radius: 50%;
    left: 0;
    top: 0;
    position: absolute;
}
.checkboxes .radio input + span:before {
    background: #D1D7E3;
    -webkit-transition: background 0.2s ease, -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
    transition: background 0.2s ease, -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
    transition: background 0.2s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
    transition: background 0.2s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2), -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
}
.checkboxes .radio input + span:after {
    background: #fff;
    -webkit-transform: scale(0.78);
    transform: scale(0.78);
    -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
    transition: -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
    transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
    transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4), -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
}
.checkboxes .radio input:checked + span:before {
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
    background: #ff7302;
}
.checkboxes .radio input:checked + span:after {
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease;
}
.checkboxes .radio:hover input + span:before {
    -webkit-transform: scale(0.92);
    transform: scale(0.92);
}
.checkboxes .radio:hover input + span:after {
    -webkit-transform: scale(0.74);
    transform: scale(0.74);
}
.checkboxes .radio:hover input:checked + span:after {
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
}

.dropdown .dropdown-button {
    background-color: transparent;
    border: 1px solid #ced4da;
    color: #172B4D;
    font-size: 13px;
    padding: 7px 21px;
    width: 100%;
    border-radius: 5px;
    height: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dropdown .dropdown-button:hover, .dropdown .dropdown-button:active, .dropdown .dropdown-button:focus {
    background-color: transparent !important;
    border: 1px solid #919aaa !important;
    color: #1a2e4f !important;
    box-shadow: 0px 0px 1px 1px #dbd8d8 !important;
}
.dropdown .dropdown-button-small {
    width: 100%;
}
.dropdown .dropdown-menu {
    width: 320px;
}
.dropdown .db-menu-small {
    width: 100%;
}
.dropdown .option {
    font-size: 14px;
}
.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
    background-color: transparent;
    border-color: #ced4da;
}
.link {
    color: #ff7302;
    font-size: 13px;
    text-decoration: none;
    margin-left: 5px;
    text-decoration: underline;
}
.link:hover, .link:focus, .link:active {
    color: #ff7302;
    text-decoration: underline;
}
.btn-exit {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;    
}
.exit img {
    width: 17px;
    height: 17px;
}
.checkboxes-inline {
    display: flex;
    align-items: center;
}
.checkboxes label {
    margin-top: 1%;
}
.form-control:focus {
    border-color: #8e8e8e;
    box-shadow: none;
}
.textarea {
    min-height: 80px;
    max-height: 200px;
}
.from-content .criteria {
    padding: 4% 5% 4% 9%;
}
.upload .btn-file {
    color: #172B4D;
    border-color: #ced4da;
    border-radius: 5px;
}
.dropdown-form {
    width: 100%;
}
.attribute .dropdown-form {
    width: 220px;
}
.dropdown-form .date {
    width: 170px !important;
}
/* .dropdown .dropdown-button {
    width: 100%;
} */
.dropdown .dropdown-menu {
    width: 100%;
}
.dropdown-toggle::after {
    content: url('../images/chevron-down.png');
    cursor: pointer;
    padding: 6px;
    position: absolute;
    right: 10px;
    top: 2px;
    text-align: center;
    pointer-events: none;
    border-top: none;
}
#points {
    font-size: 12px;
    color: #212121;
    background-color: transparent;
}
#points:hover, #points:active, #points:focus {
    box-shadow: 0px 2px 4px #1717172E !important;
}
#browse {
    font-size: 12px;
    color: #8998AC;
    background-color: #F0F3F7;
    border: 1px solid #E9ECF0;
    border-radius: 0px 5px 5px 0px;
    box-shadow: 0px 2px 4px #EFF2F7;
}
@media only screen and (max-width: 768px) {
    .create-title {
        font-size: 21px;
    }
}
@media only screen and (max-width: 768px) {
    .checkboxes-inline {
        display: flex;
        flex-wrap: wrap;
    }
}
.hint {
    margin-top: 15px;
}
.hint .hint-text {
    background-color: #172B4D;
    margin-left: -1px;
    height: 34px;
    width: 100%;
    color: #fff;
    font-size: 19px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    width: 195px;
}
.hint-title {
    font-weight: 400 !important;
    margin-bottom: 8px !important;
    color: #212121 !important;
}
.add-player-tags .tags {
    display: flex;
    flex-wrap: wrap;
}
.add-player-tags .tag {
    width: 155px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.add-player-tags .tag p {
    margin: 0;
    font-size: 11px;
}
.add-player-tags .close-tag {
    color: #fff;
    border-left: 1px solid #fff;
    padding-left: 5px;
}
.browse-input {
    box-shadow: 0px 2px 4px #EFF2F7 !important;
    border: 1px solid #F0F3F7;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.user-player {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EFF2F7;
    width: 135px;
    height: 135px;
    margin-top: -15px;
}
.user-player img {
    width: 50px;
}
.remove-img {
    text-decoration: underline;
    color: #FF7302;
    font-size: 13px;
}
.remove-img:hover, .remove-img:active, .remove-img:focus {
    text-decoration: underline;
    color: #FF7302;
}
.custom-file {
    cursor: pointer;
}
.custom-file .custom-file-input {
    cursor: pointer;
}
.custom-file .custom-file-label {
    border: 1px solid #F0F3F7;
    box-shadow: 0px 2px 4px #EFF2F7;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #172B4D;
    font-size: 13px;
    font-weight: 400;
    cursor: pointer;
}



/* Linear Mission Steps */
.linear-input {
    margin-left: -57px;
}
.stage {
    padding: 7% 4% 4% 4% !important;
    position: relative;
    margin-left: 30px;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    width: 65%;
}
.reward-stages {
    width: 85%;
    margin: 2% auto;
}
.stage .hint {
    position: absolute;
    top: 0;
    left: 0;
}
.remove-stage .action-link {
    margin-left: 80px;
}
.linear-step {
    padding: 2% 4% !important;
    position: relative;
    margin-left: 30px;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    width: 75%;
}
.linear-step .hint {
    position: absolute;
    top: 0;
    left: 0;
}
.remove-linear-step .action-link {
    margin-left: 80px;
}
.point-check .checkboxes-custom .cbx {
    padding-right: 1%;
}
.reward-add {
    min-width: 80px;
    max-width: 85px;
}
.reward-upload .btn-file {
    padding: 12% 7% 12% 7%;
    font-size: 10px;
}
.reward .checkout-wrap .checkout-bar li {
    width: 12.1%;
}
.reward ul.checkout-bar {
    width: 102%;
}
.reward ul.checkout-bar li:nth-child(1).visited:before, .reward ul.checkout-bar li:nth-child(2).visited:before, .reward ul.checkout-bar li:nth-child(3).visited:before,.reward ul.checkout-bar li:nth-child(4).visited:before {
    background: #2EC4B6;
    z-index: 99999;
    color: #fff;
}
.reward ul.checkout-bar:before {
    background-color: #2EC4B6;
}
.reward ul.checkout-bar li:nth-child(1).visited:after, .reward ul.checkout-bar li:nth-child(2).visited:after, .reward ul.checkout-bar li:nth-child(3).visited:after {
    background-color: #2EC4B6;
}
.reward ul.checkout-bar li:nth-child(1):before, .reward ul.checkout-bar li:nth-child(2):before, .reward ul.checkout-bar li:nth-child(3):before, .reward ul.checkout-bar li:nth-child(4):before {
    background-color: transparent;
    border: 1px solid #2EC4B6;
    color: #2EC4B6;
}
.reward ul.checkout-bar li:nth-child(8).visited:after {
    width: 56%;
}
ul.checkout-bar li.previous:before {
    content: "\2713";
}
ul.checkout-bar li.current:before {
    content: ". . .";
    line-height: 30px;
}