/* -------- */
/* Main CSS */
/* -------- */
body {
    overflow-x: hidden;
    background-color: #fafafa;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
p {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    margin-bottom: 10px;
}
@media (min-width: 1200px) {
    .container {
      max-width: 1285px;
    }
}
a:active, a:focus {
    outline: none;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
label {
    margin-bottom: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
.fw-400 {
    font-weight: 400 !important;
}
.hide {
    display: none;
}
.f-10 {
    font-size: 10px;
}
.btn-main {
    background-color: #fff;
    padding: 8px;
    color: #FF7302;
    border: 1px solid #FF7302;
    border-radius: 5px;
    box-shadow: 0px 3px 6px #2C28281C;
    min-width: 133px;
    height: 38px;
    font-size: 13px;
    margin-right: 10px;
}
.btn-main:hover, .btn-main:active, .btn-main:focus {
    color: #fff !important;
    box-shadow: none !important;
    background-color: #FF7302 !important;
    border: 1px solid #FF7302 !important;
}
.btn-blue {
    color: #2EC4B6;
    border: 1px solid #2EC4B6;
}
.btn-blue:hover, .btn-blue:active, .btn-blue:focus {
    background-color: #2EC4B6 !important;
    border: 1px solid #2EC4B6 !important;
}
.btn-red {
    color: #FF7474;
    border: 1px solid #FF7474;
}
.btn-red:hover, .btn-red:active, .btn-red:focus {
    background-color: #FF7474 !important;
    border: 1px solid #FF7474 !important;
}
.btn-dark-blue {
    color: #172B4D;
    border: 1px solid #8E8E8E;
    box-shadow: 0px 3px 6px #00000029;
}
.btn-dark-blue:hover, .btn-dark-blue:focus, .btn-dark-blue:active {
    background-color: transparent !important;
    border: 1px solid #8E8E8E !important;
    color: #172B4D !important;
    box-shadow: 0px 3px 6px #00000029 !important;
}
.dropdown-list .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    background-color: transparent !important;
    border: 1px solid #8E8E8E !important;
    color: #172B4D !important;
    box-shadow: 0px 3px 6px #00000029 !important;
}
.btn-procced {
    background-color: #FF7302;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 163px;
}
.btn-add {
    background-color: #FF7302;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-delete {
    background-color: #FF0202;
    color: #FFF;
    font-size: 12px;
    box-shadow: 0px 5px 20px #3B7CFF33;
    border: 1px solid #FF0202;
}
.btn-delete:hover, .btn-delete:active, .btn-delete:focus {
    background-color: #FF0202 !important;
    color: #fff !important;
    box-shadow: 0px 5px 20px #3B7CFF33 !important;
    border: 1px solid #FF0202 !important;
}
.input-custom {
    box-shadow: 0px 2px 4px #1717172E;
    border: 1px solid #8E8E8E !important;
    font-size: 12px;
    width: 100%;
    height: 38px;
}
.input-custom:hover, .input-custom:active, .input-custom:focus {
    box-shadow: 0px 5px 5px #1717172E;
    border: 1px solid #8E8E8E;
}
#basics .input-custom, #working-hours .input-custom, #shift-mode .input-custom {
    width: 220px;
}
#basics .dropdown .dropdown-button {
    width: 200px;
}
.w-10 {
    width: 10% !important;
}
.w-15 {
    width: 15% !important;
}
.w-20 {
    width: 20% !important;
}
.w-30 {
    width: 30%;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-15 {
    margin-bottom: 15px !important;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mb-40 {
    margin-bottom: 40px !important;
}
.mb-50 {
    margin-bottom: 50px;
}
.mb-80 {
    margin-bottom: 80px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-15 {
    margin-top: 15px !important;
}
.mt-20 {
    margin-top: 20px !important;
}
.mt-25 {
    margin-top: 25px;
}
.mt-30 {
    margin-top: 30px !important;
}
.mt-40 {
    margin-top: 40px;
}
.m-t50 {
    margin-top: 50px;
}
.mt-60 {
    margin-top: 60px;
}
.checkboxes-custom {
    font-size: 14px;
    color: #212121;
}
.checkboxes-custom .cbx {
    padding-right: 2%;
}
.checkboxes-custom .cbx span:last-child {
    margin-top: -4px;
}
.radio-cutom {
    display: flex;
}
.radio {
    margin: 0 20px 0 0;
    font-size: 12px;
}
.bg-main-color {
    background-color: #ff7302 !important;
    color: #fff;
}
.bg-main-color:hover, .bg-main-color:active, .bg-main-color:focus {
    background-color: #ff7302 !important;
}
.bg-second-color {
    background-color: #2EC4B6 !important;
    color: #fff;
}
.bg-second-color:hover, .bg-second-color:active, .bg-second-color:focus {
    background-color: #2EC4B6 !important;
    color: #fff;
}
.main-link {
    font-size: 12px;
    color: #ff7302;
    text-decoration: underline;
    margin-top: 0;
}
.main-link:hover, .main-link:active, .main-link:focus {
    color: #ff7302;
    text-decoration: underline;
}
.border-main-color {
    border-color: #ff7302 !important;
}
.border-main-color:hover, .border-main-color:active, .border-main-color:focus {
    border-color: #ff7302 !important;
}
.tag {
    background-color: #2EC4B6;
    padding: 6px 7px;
    min-width: 80px;
    border-radius: 12px;
    margin: 0 3px;
    font-size: 10px;
    min-height: 25px;
    color: #fff;
    text-align: center;
    box-shadow: 0px 5px 6px #2EC4B633;
}
.error-msg {
    font-size: 10px;
    color: #FF0303;
    font-style: italic;
    margin-top: 3px;
}
.table-header .dropdown-toggle {
    display: flex;
}
.table-header .dropdown-toggle::after {
    content: url('../images/chevron-down.png');
    cursor: pointer;
    padding: 6px;
    position: absolute;
    right: 10px;
    top: 2px;
    text-align: center;
    pointer-events: none;
    border-top: none;
}
.table-bulk {
    margin-top: 6px !important;
}
.bg-red {
    background-color: #fdeadb !important;
}
.bb-red {
    border-bottom-color: #fdeadb !important;
}
.border-main-color {
    border-color: #FF7302 !important;
}
.bg-gray-color {
    background-color: #C4C4C4 !important;
}
.border-gray-color:hover, .border-gray-color:active, .border-gray-color:focus {
    background-color: #C4C4C4 !important;
}
.border-gray-color {
    border-color: #C4C4C4 !important;
}
.border-gray-color:hover, .border-gray-color:active, .border-gray-color:focus {
    border-color: #C4C4C4 !important;
}
.blue-color {
    color: #172B4D !important;
}
.star {
    color: #f33b50;
}
.small-label {
    font-size: 11px;
    color: #717d92;
}
.rectangle {
    width: 410px;
    height: auto;
    border: 1px solid #EAEAEB;
    padding: 8px 0;
}
.blue-rectangle {
    background-color: #2EC4B6;
    position: relative;
}
.orange-rectangle {
    background-color: #FF7302;
}
.rect-text {
    font-size: 14px;
    color: #fff;
    margin-bottom: 5px;
}
.rect-desc {
    font-size: 10px;
    color: #FFFFFFCC;
    margin-bottom: 0;
}
.triangle-right {
    position: absolute;
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-left: 50px solid #2EC4B6;
    border-bottom: 25px solid transparent;
    margin-top: 5px;
}


/* ------- */
/* Content */
/* ------- */
#content {
    height: 100%;
    padding: 3%;
    width: 100%;
}
.no-data, .tab-section, .delete-program-section, .create-section {
    background-color: #fff;
    height: 515px;
    box-shadow: 0px 3px 6px #2C28281C;
    border-radius: 10px;
    margin-top: 25px;
}
.tab-section {
    box-shadow: none;
}
.no-data img {
    margin-top: 150px;
}
.no-data p:first-child {
    color: #172B4D;
    font-weight: 600;
}
.no-data p:last-child {
    color: #172B4D;
    font-size: 12px;
}


/* Table */
.head {
    margin-top: 25px;
}
.head h3 {
    color: #FF7302;
    font-weight: 600;
    font-size: 37px;
    margin-bottom: 15px;
}
.head .text {
    margin: 0;
}
.head p {
    color: #8998AC;
    max-width: 100%;
    margin-bottom: 0;
    font-size: 13px;
}
.head .text img {
    margin: 0 0 15px 10px;
    width: 40px;
}
.head .left-arrow {
    color: #ff7302;
    font-size: 28px;
    margin-bottom: 11px;
}
.head .add-buttons {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.head .add-buttons a {
    color: #fff;
    text-decoration: none;
}
.head .add-buttons a:hover, .head .add-buttons a:active, .head .add-buttons a:focus {
    color: #fff;
    text-decoration: none;
}
.head .add-buttons button {
    min-width: 220px;
    height: 45px;
    border-radius: 10px;
    background-color: #2ec4b6;
    color: #fff;
    box-shadow: none;
    margin-right: 0;
    font-size: 14px;
}
.head .add-buttons button:hover, .head .add-buttons button:active, .head .add-buttons button:focus {
    box-shadow: 0px 3px 6px #2C28281C;
}
table .drop-table {
    left: -68px !important;
}
#myTable {
    display: none;
    font-family: 'Montserrat', sans-serif;
}
.table-contain {
    display: flex;
    justify-content: center;
    padding: 1% 2%!important;
}
.table-contain .table {
    border: 1px solid #fff;
    box-shadow: 0px 0px 4px 4px #f4f3f3;
    padding: 2% !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: #FF7302;
    border: 1px solid #FF7302;
    color: #fff !important;
}
table.dataTable tbody th, table.dataTable tbody td {
    padding: 27px 12px;
    font-size: 13px;
    color: #172B4D;
}
table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
    border: none;
    text-align: center;
}
table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
    background-color: #ffffff;
    text-align: center;
}
table.dataTable tbody tr {
    background-color: #F7FAFC;
}
table.dataTable.display tbody tr.even > .sorting_1, table.dataTable.order-column.stripe tbody tr.even > .sorting_1 {
    background-color: #F7FAFC;
    text-align: center;
}
table.dataTable.display tbody tr.odd > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
    background-color: #fff;
}
table.dataTable.display tbody tr.even:hover {
    background-color: #F7FAFC;
}
table thead {
    background-color: #f1f3f9;
    color: #a5b1c0;
    font-size: 14px;
    text-align: center;
}
table.dataTable thead th, table.dataTable thead td {
    border: none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    border: 1px solid #FF7302;
    border-radius: 50%;
    background: #FF7302;
    color: #fff !important;
    margin: 0 1%;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    border: 1px solid #d6dbe1;
    border-radius: 50%;
    color: #aca0ee !important;
    margin: 0 1%;
}
#myTable_next, #myTable_previous {
    border: none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:active {
    background: #FF7302;
    box-shadow: none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    border: 1px solid #d6dbe1;
    background: #FF7302;
}
.right-check {
    background-color: #A4FF8440;
    border: 2px solid #A4FF8440;
    border-radius: 50%;
    padding: 8px 7px;
}
.wrong-check {
    background-color: #FF656540;
    border: 2px solid #FF656540;
    border-radius: 50%;
    padding: 5%;
    width: 29px;
}
.actions .wrong-check {
    padding: 3%;
}
.qr {
    max-width: 20%;
}
.dataTables_wrapper .dataTables_paginate {
    padding-top: 1.7em;
    width: 40%;
}
.dataTables_wrapper .dataTables_info {
    padding-top: 2.3em;
}
.dataTables_wrapper .dataTables_filter input {
    border: 1px solid #5994be;
    background-color: #fff;
}
.dt-buttons {
    float: right;
}
.dt-button {
    background-color: #fff;
    padding: 10px 20px;
    color: #FF7302;
    border: 1px solid #FF7302;
    border-radius: 10px;
    box-shadow: 0px 3px 6px #2C28281C;
    width: 100%;
}
.dt-button:hover, .dt-button:active, .dt-button:focus {
    background-color: #FF7302;
    color: #fff;
}
#myTable_filter input {
    background-color: transparent;
    width: 320px;
    height: 40px;
    box-shadow: 0px 2px 4px #1717172E;
    border: 1px solid #172B4D;
    border-radius: 10px;
    color: #172B4D;
    padding: 3%;
    font-size: 12px;
}
.mail {
    font-weight: 600;
}
.edit, .delete {
    width: 17px;
}


.cbx {
    margin: auto;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}
.cbx span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
}
.cbx span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 5px;
    transform: scale(1);
    vertical-align: middle;
    border: 1px solid #9098A9;
    transition: all 0.2s ease;
}
.cbx span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
}
.cbx span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #FF7302;
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
}
.cbx span:last-child {
    padding-left: 8px;
}
.cbx:hover span:first-child {
    border-color: #FF7302;
}  
.inp-cbx:checked + .cbx span:first-child {
    background: #FF7302;
    border-color: #FF7302;
    animation: wave 0.4s ease;
}
.inp-cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
}
@keyframes wave {
    50% {
      transform: scale(0.9);
    }
}  


/* Modal */
.modal {
    background-color: #000000B8;
}
.modal-dialog {
    max-width: 673px;
}
.modal-input {
    box-shadow: 0px 2px 4px #1717172E;
    border: 1px solid #8E8E8E;
    font-size: 12px;
    color: #d7ecfe;
    width: 320px;
    height: 35px;
}
.modal-header {
    padding: 1%;
}
.modal-content {
    padding: 5% !important;
}
.modal-title {
    font-size: 20px;
    color: #2EC4B6;
    margin-bottom: 1%;
    font-weight: 600;
}
.modal-body {
    padding: 5% 2% 3% 2% !important;
}
.modal-body .form-control {
    display: inline-block;
    margin-bottom: 20px;
}
.modal-body .permissions {
    margin-bottom: 30px;
}
.modal-footer {
    border-top: none;
    width: 60%;
    margin-left: auto;
}
.modal-footer .btn-primary {
    background-color: #FF7302;
    color: #fff;
}
#createActionModal .modal-body p {
    font-size: 12px;
    color: #172B4D;
    margin-bottom: 0.5%;
}
.modal-body .radio {
    margin: 16px;
    display: block;
    cursor: pointer;
}
#addToTeamModal .small-label {
    margin-bottom: 0;
}
#addToTeamModal .details p {
    color: #172B4D;
    max-width: 86%;
    font-size: 12px;
    margin-bottom: 0;
}
#addToTeamModal .dropdown .dropdown-button {
    width: 144px;
}
#addToTeamModal .dropdown .dropdown-menu {
    width: 144px;
}
#addToTeamModal .small-label {
    font-size: 12px;
}
#addToTeamModal .link {
    color: #ff7302;
    font-size: 13px;
    margin-left: 5px;
    text-decoration: underline;
}
#addToTeamModal .cbx {
    color: #43425D;
    font-size: 12px;
}
#addToTeamModal .cbx span:last-child {
    margin-right: 10px;
    margin-bottom: 4px;
}
#addToTeamModal .label-custom {
    min-width: 50px !important;
}
#addToTeamModal .input-custom {
    width: 254px;
    margin-bottom: 0 !important;
}
#addToTeamModal .create {
    border: 1px solid #E8E9EC;
    border-radius: 5px;
    padding: 4% 5%;
    max-width: 66%;
}
.radio input {
    display: none;
}
.radio input + span {
    line-height: 22px;
    height: 22px;
    padding-left: 22px;
    display: block;
    position: relative;
}
.radio input + span:not(:empty) {
    padding-left: 30px;
    cursor: pointer;
}
.radio input + span:before, .radio input + span:after {
    content: '';
    width: 22px;
    height: 22px;
    display: block;
    border-radius: 50%;
    left: 0;
    top: 0;
    position: absolute;
}
.radio input + span:before {
    background: #D1D7E3;
    -webkit-transition: background 0.2s ease, -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
    transition: background 0.2s ease, -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
    transition: background 0.2s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
    transition: background 0.2s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2), -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
}
.radio input + span:after {
    background: #fff;
    -webkit-transform: scale(0.78);
    transform: scale(0.78);
    -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
    transition: -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
    transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
    transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4), -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
}
.radio input:checked + span:before {
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
    background: #FF7302;
}
.radio input:checked + span:after {
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease;
}
.radio:hover input + span:before {
    -webkit-transform: scale(0.92);
    transform: scale(0.92);
}
.radio:hover input + span:after {
    -webkit-transform: scale(0.74);
    transform: scale(0.74);
}
.radio:hover input:checked + span:after {
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
}
.modal-radio {
    display: flex;
    justify-content: center;
    font-size: 12px;
    margin-bottom: 30px;
}
.modal-checkboxes {
    font-size: 12px;
}
.modal-checkboxes .cbx {
    padding: 3% 7% 3% 1%;
}
.modal-checkboxes .cbx span:last-child {
    margin-top: -4px;
}
.modal .label-custom {
    color: #172B4D;
    font-size: 14px;
    font-weight: 600;
    margin-right: 5px;
    min-width: 90px;
}
.modal .close-modal {
    width: 15px;
    color: #172B4D;
}
.modal-header .close {
    margin: -2.7rem -2.3rem -1rem auto;
}
#showHideModal .title {
    margin-top: 10px;
    font-weight: 600;
}
#showHideModal .checkboxes-area {
    max-width: 100%;
    max-height: 160px;
    overflow-y: scroll;
    overflow-x: hidden;
}
#showHideModal .checkboxes {
    margin-bottom: 20px;
}
#showHideModal .checkboxes label {
    display: flex;
}
#showHideModal .modal-body {
    padding: 3% 0% !important;
}
#showHideModal #custom-search-input {
    padding: 2px;
    background-color: #fff;
    width: 444px;
    box-shadow: 0px 2px 4px #1717172E;
    border: 1px solid #172B4D;
    border-radius: 5px;
    display: block;
}
#showHideModal .form-control {
    margin-bottom: 0;
}
#showHideModal #custom-search-input input {
    border: 0;
    box-shadow: none;
    font-size: 12px;
}
#showHideModal #custom-search-input button {
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #172B4D;
    padding: 0 8px 0 10px;
}
#createActionModal .dropdown .dropdown-form {
    width: 100%;
}
#createActionModal .dropdown .dropdown-button {
    width: 100%;
}
#createActionModal .dropdown .dropdown-menu {
    width: 100%;
}
#createActionModal .btn-secondary:not(:disabled):not(.disabled):active, #createActionModal .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
    background-color: transparent;
    color: #174b98;
}
#createActionModal .form-control:focus {
    border-color: #8e8e8e;
    box-shadow: none;
}
#assignModal .dropdown .dropdown-form {
    width: 100%;
}
#assignModal .dropdown .dropdown-button {
    width: 100%;
}
#assignModal .dropdown .dropdown-menu {
    width: 100%;
}
#assignModal .btn-secondary:not(:disabled):not(.disabled):active, #assignModal .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
    background-color: transparent;
    color: #174b98;
}
#currencyModal .form-control:focus {
    border-color: #8e8e8e;
    box-shadow: none;
}
#currencyModal .dropdown .dropdown-form {
    width: 100%;
}
#currencyModal .dropdown .dropdown-button {
    width: 100%;
}
#currencyModal .dropdown .dropdown-menu {
    width: 100%;
}
#currencyModal .btn-secondary:not(:disabled):not(.disabled):active, #currencyModal .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
    background-color: transparent;
    color: #174b98;
}
#currencyModal .form-control:focus {
    border-color: #8e8e8e;
    box-shadow: none;
}
/* Landing Popup ( Create you first program now )*/
#createModal .modal-title {
    color: #ff7302;
}
#createModal .modal-header {
    border-bottom: none;
}
#createModal .form-control {
    height: 35px;
}
#createModal .add-button {
    background-color: #ff7302;
    color: #fff;
}
#createModal .modal-dialog {
    max-width: 500px;
}
#createModal .modal-content {
    padding: 30px 40px !important;
}
#createModal .form-group input {
    border: 1px solid #F0F3F7;
    font-size: 12px;
    color: #808588;
    width: 100%;
    height: 35px;
    margin-bottom: 0;
}
#createModal .form-group select {
    border: 1px solid #F0F3F7;
    font-size: 12px;
    color: #808588;
    width: 100%;
    height: 35px;
}
#createModal .form-control::placeholder {
    color: #808588;
}
/* Advanced Filter Modal */
.from-content label {
    color: #5F6D84;
    font-weight: 600;
    font-size: 14px;
    margin-top: 3%;
    margin-bottom: 4%;
    margin-right: 0.5%;
}
.dropdown .dropdown-button {
    background-color: transparent;
    border: 1px solid #8E8E8E;
    color: #707071;
    font-size: 13px;
    padding: 7px 13px;
    width: 320px;
    border-radius: 5px;
    height: calc(1.5em + 0.75rem + 10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 4px #1717172E !important;
}
.dropdown .dropdown-button:hover, .dropdown .dropdown-button:active, .dropdown .dropdown-button:focus {
    background-color: transparent !important;
    border: 1px solid #919aaa !important;
    color: #707071 !important;
    box-shadow: 0px 0px 1px 1px #dbd8d8 !important;
}
.dropdown-toggle::after {
    content: url('../images/chevron-down.png');
    cursor: pointer;
    padding: 6px;
    position: absolute;
    right: 10px;
    top: 2px;
    text-align: center;
    pointer-events: none;
    border-top: none;
}
.dropdown .dropdown-button-small {
    width: 110px;
}
.dropdown .dropdown-menu {
    width: 100%;
}
.dropdown .db-menu-small {
    width: 100%;
}
.dropdown .option {
    font-size: 14px;
}
.form-control-custom {
    height: calc(1.5em + 0.75rem + 10px);
    width: 320px;
    color: #172B4D;
}
.form-control-custom:focus {
    border-color: #dbd8d8;
    outline: 0;
    box-shadow: 0px 0px 1px 1px #919aaa;
}
.input-font {
    font-size: 13px;
}
.number-input {
    width: 100px;
    -webkit-appearance: textfield;
}
.number-input-large {
    width: 110px;
    -webkit-appearance: textfield;
}
.number {
    display: flex;
    align-items: center;
}
.btn-form-primary {
    background-color: #ff7302;
    border-color: #ff7302;
    border-radius: 0.5rem;
    font-size: 14px;
    width: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-form-primary:hover, .btn-form-primary:focus, .btn-form-primary:active {
    background-color: #fc8422 !important;
    border-color: #fc8422 !important;
}
.btn-form-primary:focus, .btn-form-primary:active {
    box-shadow: 0 0 0 0.2rem rgba(255, 115, 2, 0.50);
}
.btn-action {
    width: auto;
    font-size: 12px;
}
.input-rounded {
    border-radius: 5px;
}
#advancedFilterModal .dropdown-form {
    padding: 0;
}
#advancedFilterModal .title {
    font-size: 16px;
    margin: 0;
}
#advancedFilterModal .sub-title {
    font-size: 12px;
    margin-top: 30px;
    margin-bottom: 30px;
}
#advancedFilterModal .attribute {
    margin-bottom: 30px;
}


/* Delete Alert */
.swal2-title {
    font-size: 18px;
    margin: 0 0 0.7em;
}
.swal2-content {
    font-size: 15px;
    margin-bottom: 2%;
}
.swal2-styled.swal2-confirm, .swal2-styled.swal2-cancel {
    font-size: 16px;
}
.swal2-styled:focus {
    box-shadow: none;
}
.swal2-confirm {
    background-color: #ff7302 !important;
    border: 1px solid #ff7302 !important;
    color: #fff !important;
}
.swal2-cancel {
    background-color: #fff !important;
    border: 1px solid #ff7302 !important;
    color: #ff7302 !important;
}
.swal2-cancel:hover, .swal2-cancel:active, .swal2-cancel:focus {
    background-color: #ff7302 !important;
    border: 1px solid #ff7302 !important;
    color: #fff !important;
}
.swal2-container.swal2-backdrop-show {
    background: #000000B8;
}


/* Breadcrumb */
.breadcrumb-custom .breadcrumb {
    background-color: transparent;
    padding: 0;
    margin: 0;
}
.breadcrumb-custom .breadcrumb-item.active {
    color: #FF7302;
    font-size: 13px;
}
.breadcrumb-custom .breadcrumb-item a {
    color: #8998AC;
    font-size: 12px;
}
.breadcrumb-custom .breadcrumb-item + .active::before {
    content: ">";
}


/* Table */
.table {
    box-shadow: 0px 3px 6px #2C28281C;
    border-radius: 10px;
    margin-top: 25px;
}
.table .container-table100 {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.table .wrap-table100 {
    width: 100%;
}
.table table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.table table * {
    position: relative;
}
table thead tr {
    height: 40px;
    background: #f1f3f9;
}
.table table tbody tr {
    height: auto;
    font-size: 13px;
}
.table table tbody tr:last-child {
    border: 0;
}
.table table td, table th {
    text-align: center;
}
.table table td.l, table th.l {
    text-align: right;
}
.table table td.c, table th.c {
    text-align: center;
}
.table table td.r, table th.r {
    text-align: center;
}
.table table thead th {
    vertical-align: middle;
    border-bottom: none;
    border-top: none;
}
.table .table100-head th{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #8898AA;
    line-height: 1.2;
    font-weight: unset;
    text-align: center;
    font-weight: 600;
}
.table .players .table100-head th{
    min-width: 150px;
}
.table tbody tr:nth-child(even) {
    background-color: #f7fafc;
}
.table tbody tr {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #172B4D;
    line-height: 1.2;
    font-weight: unset;
}
.table tbody td {
    vertical-align: middle;
    border-top: none;
}
.table tbody tr:hover {
    cursor: pointer;
}
.table .column-head {
    height: 50px;
}
/* .table .column-head::after {
    content: url('../images/sorting_arrows.png');
} */
.table tbody .column-sm {
    text-align: center;
    height: 50px;
}
.table tbody .column-lg {
    text-align: center;
    height: 80px;
}
.table tbody .actions-area {
    display: flex;
    justify-content: center;
    align-items: center;
}
.table .actions-area .actions {
    display: flex;
}
.table .players .actions-area .actions {
    padding-right: 50px;
}
.table .players {
    overflow-x: scroll;
}
.table .actions-area .actions .action-text {
    color: #172B4D;
}
.table .actions-area .actions .action-icon {
    margin-right: 5px;
    vertical-align: middle;
    width: 17.5px;
}
.table .actions-area .actions .action-text:hover, .actions-area .actions .action-text:active, .actions-area .actions .action-text:focus {
    color: #172B4D;
    text-decoration: none;
}
.table .actions-area .actions .action-field {
    margin-right: 15px;
}
.table .actions-area .menu-actions {
    position: absolute;
    right: 15px;
}
.table .actions-area .menu-actions .drop-table {
    width: 190px;
    padding: 8px 15px;
    z-index: 99;
}
.table .actions-area .menu-actions .drop-table .dropdown-item {
    padding: 8px 20px;
    border-bottom: 1px solid #f9f9fa;
    display: flex;
    align-items: center;
}
.table table .dot {
    border-radius: 50%;
    display: inline-block;
    height: 11px;
    width: 11px;
}
.table table .green-dot {
    background-color: #71BC02;
}
.table table .red-dot {
    background-color: #D00909;
}
@media screen and (max-width: 992px) {
    .table table {
        display: block;
    }
    .table table > *, .table table tr, .table table td, .table table th {
        display: block;
    }
    .table table thead {
        display: none;
    }
    .table table tbody tr {
        height: auto;
        padding: 37px 0;
    }
    .table table tbody tr td {
        padding-left: 40% !important;
        margin-bottom: 24px;
    }
    .table table tbody tr td:last-child {
        margin-bottom: 0;
    }
    .table table tbody tr td:before {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        color: #999999;
        line-height: 1.2;
        font-weight: unset;
        position: absolute;
        width: 40%;
        left: 30px;
        top: 0;
    }
    .table table tbody tr td:nth-child(1):before {
        content: "Date";
    }
    .table table tbody tr td:nth-child(2):before {
        content: "Order ID";
    }
    .table table tbody tr td:nth-child(3):before {
        content: "Name";
    }
    .table table tbody tr td:nth-child(4):before {
        content: "Price";
    }
    .table table tbody tr td:nth-child(5):before {
        content: "Quantity";
    }
    .table table tbody tr td:nth-child(6):before {
        content: "Total";
    }
}
@media (max-width: 576px) {
    .container-table100 {
        padding-left: 15px;
        padding-right: 15px;
    }
}
.showLeft {
    background-color: #F7FAFC;
    border: 1px solid #F7FAFC;
    border-radius: 50%;
    text-shadow: none;
    padding: 5px 5px;
}
.icons li {
    background: none repeat scroll 0 0 #172b4d;
    height: 4px;
    width: 4px;
    line-height: 0;
    list-style: none outside none;
    margin-right: 10px;
    margin-top: 2px;
    vertical-align: top;
    border-radius: 50%;
    pointer-events: none;
    margin-left: 10px;
    margin-bottom: 3px;
}
.dropbtn {
    background-color: #F7FAFC;
    color: #172b4d;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin: 0;
    box-shadow: 0px 3px 6px #2C28281C;
}
.dropbtn:hover, .dropbtn:focus {
    background-color: #F7FAFC;
    cursor: pointer;
}
.dropdown-content {
    display: none;
    position: relative;
    margin-top: 60px;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
#actionDropdown a:hover {
    background-color: #f1f1f1;
}
.show {
    display: flex;
}
.table-header, .table-footer {
    height: 80px;
    background-color: #fff;
}
.table-header {
    display: flex;
    padding: 1% 2%;
    align-items: center;
    justify-content: space-between;
}
.table-header .left-table-header {
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.table-header .right-table-header {
    width: 60%;
    display: flex;
    justify-content: flex-end;
}
.table-header .right-table-header .filter-icon {
    width: 15px;
    margin-bottom: 2px;
}
.table-header .right-table-header #custom-search-input {
    padding: 2px;
    background-color: #fff;
    width: 226px;
    box-shadow: 0px 2px 4px #1717172E;
    border: 1px solid #172B4D;
    border-radius: 5px;
}
.table-header .right-table-header #custom-search-input input {
    border: 0;
    box-shadow: none;
    font-size: 12px;
}
.table-header .right-table-header #custom-search-input button {
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #172B4D;
    padding: 0 8px 0 10px;
}
.table-header .right-table-header #custom-search-input button:hover{
    border: 0;
    box-shadow: none;
}
.table-header .right-table-header .input-group-btn img {
    width: 16px;
    margin-bottom: 4px;
    margin-right: 4px;
}
.table-header .right-table-header #custom-search-input .glyphicon-search{
    font-size: 23px;
}
.table-footer {
    display: flex;
    padding: 1% 2%;
    align-items: center;
    justify-content: space-between;
}
.table-footer .left-table-footer {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.table-footer .left-table-footer p {
    font-size: 12px;
    color: #172B4D;
    margin: 0;
}
.table-footer .right-table-footer {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.table-footer .right-table-footer .pagination {
    margin-right: 8%;
}
.table-footer .right-table-footer .pagi-item {
    padding: 8px 15px;
    text-decoration: none;
    border: 1px solid #8898AA80;
    border-radius: 50%;
    color: #FF7302;
    margin: 1.5%;
    font-size: 13px;
}
.table-footer .right-table-footer .pagi-item:hover {
    background-color: #FF7302;
    color: #fff;
}
.table-footer .right-table-footer .active {
    background-color: #FF7302;
    color: #fff;
}


.create-section {
    padding: 1% 2%;
}
.create-section .tags {
    display: flex;
    align-items: center;
    margin-top: 2%;
}
.create-section .tags .small-label {
    margin-bottom: 0;
    margin-right: 1.3%;
    font-size: 12px;
    color: #172B4D;
}
.create-section .tags .tag {
    background-color: #2EC4B6;
    padding: 6px 7px;
    min-width: 80px;
    border-radius: 12px;
    margin: 0 3px;
    font-size: 11px;
    min-height: 25px;
    color: #fff;
    text-align: center;
}
.create-section .large-label {
    font-weight: 600;
    margin-top: 3.5%;
}
.create-section .small-label {
    font-size: 12px;
}
.create-section .btn-file {
    position: relative;
    overflow: hidden;
    padding: 7% 30% 7% 30%;
    border: 2px dashed #707070;
    background-color: transparent;
    color: #172B4D;
    font-size: 14px;
    min-width: 616px;
    min-height: 111px;
}
.create-section .btn-file:hover, .btn-file:focus, .btn-file:active {
    border: 2px dashed #707070;
    background-color: transparent;
    color: #172B4D;
}
.create-section .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;   
    cursor: pointer;
    display: block;
}
.create-section .download {
    box-shadow: none;
}
.create-section .details-text {
    font-size: 12px;
    margin-top: 27px;
    max-width: 479px;
    color: #172B4D;
}
.create-section .link {
    color: #ff7302;
    font-size: 13px;
    margin-left: 5px;
    text-decoration: underline;
}
.create-section p {
    font-size: 15px;
    color: #212121;
}
.create-section .add-btn {
    margin-top: 20px;
    color: #fff;
    padding: 9px 10px;
    font-size: 12px;
}
.create-section .describtion-text p {
    color: #8998AC;
    max-width: 90%;
    margin-bottom: 0;
    font-size: 13px;
}
.create-section .hint {
    margin-left: -9px;
    margin-bottom: 1px;
}
.create-section .upload .btn-file {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 90% !important;
    max-width: 92% !important;
}
.create-section .upload-area {
    margin-top: 8%;
}
.create-section .upload-title {
    color: #172B4D;
    font-size: 13px;
    margin-bottom: 10px;
}


/* Dropdown List */
.dropdown-list .dropdown-menu {
    font-size: 12px;
}
.dropdown-list .dropdown-menu .dropdown-item {
    padding: 7px 20px;
}
.dropdown-list .dropdown-menu .dropdown-item:active {
    padding: 7px 20px;
    background-color: #ff7302;
    outline: none;
}


/* Tabs */
.tab-section {
    height: auto;
}
.tab-section .tabs .nav-tabs {
    background-color: #fafafa;
    border-bottom: none;
}
.tab-section .tabs .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link, .tab-section .tabs .nav-tabs .nav-link:focus {
    color: #FF7302;
    border: 1px solid #fff;
    outline: none;
}
.tab-section .nav-tabs .nav-link {
    color: #43425D;
    border-top: 1px solid #E9E9F0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-right: 8px;
    border-right: 1px solid #E9E9F0;
    border-left: 1px solid #E9E9F0;
    min-width: 110px;
    min-height: 39px;
    text-align: center;
}
.tab-section .nav-tabs .nav-item {
    margin-bottom: 0px;
}
.tab-section .nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    border-right: 1px solid #E9E9F0;
    border-left: 1px solid #E9E9F0;
    border-top: 1px solid #E9E9F0;
    border-bottom: none;
}
.tab-section .tab-content {
    padding: 1% 2%;
    box-shadow: 0px 3px 6px #2C28281C;
    border-radius: 10px;
}
.tab-section .tab-pane {
    margin-top: 30px;
}
.tab-section .label-custom {
    color: #172B4D;
    font-size: 14px;
    font-weight: 400;
    margin-right: 5px;
}
.tab-section .remove {
    color: #FF7302;
    text-decoration: underline;
    font-size: 12px;
    text-transform: uppercase;
}
.tab-section .p-custom {
    font-size: 14px;
    margin: 0;
}
.tab-section .t-neutral .spinner__button {
    background: #fff;
    color: #172B4D;
    border: none;
}
.tab-section .t-neutral .spinner__button:hover,
.tab-section .t-neutral .spinner__button:focus,
.tab-section .t-neutral .spinner__button:active {
  background: #fff;
}
.tab-section .t-neutral .spinner__input {
    background: #fff;
}
.tab-section input[type="number"] {
    -moz-appearance: textfield;
}
.tab-section input[type="number"]::-webkit-inner-spin-button,
.tab-section input[type="number"]::-webkit-outer-spin-button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance:none;
    margin: 0;
}
.tab-section input[type="number"]:hover::-webkit-inner-spin-button,
.tab-section input[type="number"]:hover::-webkit-outer-spin-button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance:none;
    margin:0;
}
.tab-section .spinner:after {
    clear: both;
    content: "";
    display: table;
}
.tab-section .spinner__label {
    display: block;
    text-align: center;
    width: 100%;
}
.tab-section .spinner__button {
    cursor: pointer;
    display: block;
    font-size: 1em;
    font-weight: 700;
    padding: 1.1em 1em 1.15em;
    text-align: center;
    text-decoration: none;
    transition: background 0.4s ease;
}
.tab-section .spinner__button--left {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.tab-section .spinner__button--right {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.tab-section .spinner__button--top {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.tab-section .spinner__button--bottom {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.tab-section .spinner--vertical .spinner__button {
    padding: 5px;
    width: 100%;
}
.tab-section .spinner__input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    border-radius: none;
    box-sizing: border-box;
    display: block;
    font-size: 1em;
    line-height: 1.5;
    text-align: center;
}
.tab-section .spinner--horizontal .spinner__input {
    padding: 1em 1em 1.05em 1em;
}
.tab-section .spinner--vertical .spinner__input {
    padding: 5px;
    width: 100%;
    border: 1px solid #8E8E8E;
    border-radius: 11px;
    min-width: 83px;
    color: #172B4D;
}
.tab-section .spinner--horizontal .spinner__button {
    float: left;
    width: 25%;
}
.tab-section .spinner--horizontal .spinner__input {
    float: left;
    width: 50%;
}
.tab-section .action-buttons {
    display: flex;
    justify-content: flex-end;
}
.tab-section .action-buttons button:last-child {
    background-color: #FF7302;
    color: #fff;
}


/* Delete Program Section */
.delete-program-section {
    height: auto;
    margin-top: 30px;
    padding: 2%;
}


/* Create Section */
.create-section {
    height: auto;
    padding: 2% 3%;
}
.create-section label {
    margin-bottom: 0;
}
.create-section .description {
    font-size: 12px;
    margin-bottom: 0;
    color: #172B4D;
}
.create-section .info {
    color: #A4A6A8;
}
.create-section h4 {
    font-size: 18px;
    font-weight: 600;
    color: #3B4859;
}
.create-section .left {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.create-section .card {
    width: 113%;
    min-height: 96px;
    background-color: #fff;
    padding: 10px 10px;
}
.create-section .card-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.create-section .card-top .card-top-left .cbx {
    margin: 0;
}
.create-section .card-top .card-top-left .cbx span:first-child {
    width: 15px;
    height: 15px;
}
.create-section .card-top .card-top-left .cbx span:first-child svg {
    top: 2px;
    left: 1px;
}
.create-section .card-top .card-top-center {
    display: flex;
    /* justify-content: center; */
    width:100%;
}
.create-section .card-top .card-top-center p {
    font-size: 10px;
    margin-bottom: 0;
    max-width: 100%;
    padding: 0 7px;
}
.create-section .card-top .card-top-right img {
    width: 24px;
    height: 24px;
}
.create-section .card-bottom {
    padding-top: 4px;
}
.create-section .card-bottom p {
    font-size: 9px;
    text-align: center;
    margin-bottom: 0;
    color: #636363;
}
.create-section .checkboxes-custom label {
    margin-bottom: 3%;
    font-size: 12px;
}
.checkboxes-custom .default {
    margin: 0;
}
.create-section .left-overwrite {
    align-items: flex-start;
}
.create-section .action-buttons {
    display: flex;
    justify-content: flex-end;
}
.create-section .action-buttons button:last-child {
    background-color: #ff7302;
    color: #fff;
}
.create-section .no-data, .tab-section, .delete-program-section, .create-section {
    margin-top: 0;
}


/* Create Program */
.program-section {
    height: 365px;
}
.program-section .program-content {
    margin-top: 130px;
}
.program-section .program-content .text h1 {
    color: #FF7302;
    font-weight: 600;
    margin-top: 60px;
}
.program-section .program-content .text p {
    color: rgb(151, 152, 155);
}
.program-section .program-content .create-button {
    margin-top: 30px;
    padding: 5px 40px;
}
.program-section .program-content a {
    color: #fff;
    text-decoration: none;
    background-color: none;
}
.program-section .program-content .create h3 {
    color: #FF7302;
    font-weight: 600;
    font-size: 23px;
    margin-left: 60px;
}
.program-section .program-content .create form {
    width: 75%;
    padding: 20px;
    border: 1px solid #F9FAFC;
    border-radius: 3px;
    background-color: #F9FAFC;
    box-shadow: 0px 0px 10px 0px rgb(208, 208, 213);
    margin-top: 20px;
    margin-left: 65px;
}
.program-section .program-content .create form .form-control {
    font-size: 13px;
    height: 35px;
    color: #8998AC;
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid #F0F3F7;
}
.program-section .program-content .create form .form-control::placeholder {
    color: #8998AC;
}
.program-section .program-content .create form .add-button {
    background-color: #ff7302;
    color: #fff;
}
#custom-select select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    padding: 5px 10px;
    color: #8998AC;
    background-color: #fff;
    border: 1px solid #F0F3F7;
    border-radius: 4px;
    outline: none;
    height: 35px;
    font-size: 13px;
}
#custom-select {
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    margin-bottom: 20px;
}
#custom-select:after {
    content: url('../images/chevron-down.png');
    cursor: pointer;
    padding: 6px;
    position: absolute;
    right: 6px;
    top: 0px;
    text-align: center;
    pointer-events: none;
}
form .form-group div:first-child {
    margin-bottom: 24px;
}

/* Program Highlights */
.program-highlights {
    margin-top: 30px;
    background-color: transparent;
    padding: 0;
}
.program-highlights .card {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
}
.program-highlights .card .card-body{
    max-height: 100%;
}
.card {
    background: #fff;
    border-radius: 2px;
    height: auto;
    position: relative;
    width: 100%;
    box-shadow: 0px 0px 4px 0px rgb(225, 225, 225);
}
.card-item {
    color: #212529;
}
.card-item:hover, .card-item:active, .card-item:focus {
    color: #212529;
    text-decoration: none;
}
.assigned {
    margin-top: 4%;
    padding-left: 50px;
}
.program-highlights .name {
    color: #848C97;
    font-size: 12px;
}
.program-highlights .card-body {
    padding: 10px;
}
.program-highlights .value {
    color: #2F2F2F;
    margin-top: -2%;
    font-size: 12px;
    font-weight: 600;
}
.assigned .name:before {
    content: url('../images/line.png');
    position: relative;
    left: -11px;
    top: -5px;
}
.card-info-layover .close-btn{
    font-size:14px;
    top:10px;
    right:10px;
    cursor: pointer;
}
.card-info-layover span{
    font-size:12px;
    
}
/* Cards */
.cards-section .all-cards {
    text-align: center;
}
.cards-section .card {
    height: 100%;
    transition: all 0.4s cubic-bezier(.25,.8,.25,1);
}
.cards-section .card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.cards-section .card-footer {
    background-color: transparent;
}
.cards-section .card-footer a {
    color: rgb(134, 134, 134);
}
.all-cards .card-body {
    max-height: 220px;
    text-align: left;
}
.all-cards .card-item h5 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.all-cards .card-item img {
    margin-top: 20px;
}
.all-cards .tooltip-img {
    width: 21px;
    cursor: pointer;
}
.tooltip-inner {
    background-color: #43425D;
    max-width: 344px;
}
.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .bs-tooltip-bottom .arrow::before {
    border-bottom-color: #43425D !important;
}
.bs-tooltip-auto[x-placement^=top] .arrow::before, .bs-tooltip-top .arrow::before {
    border-top-color: #43425D !important;
}
.bs-tooltip-auto[x-placement^=left] .arrow::before, .bs-tooltip-left .arrow::before {
    border-left-color: #43425D !important;
}
.bs-tooltip-auto[x-placement^=right] .arrow::before, .bs-tooltip-right .arrow::before {
    border-right-color: #43425D !important;
}
.tooltip {
    font-size: 10px;
}


/* Programs Section */
.programs {
    margin-top: 55px;
}
.programs .card-body {
    padding: 15px 12px;
}
.programs .card {
    margin: 0 12px;
}
.programs .card-text {
    color: #3B4859;
    font-size: 14px;
}
.programs .col-md-4 {
    max-width: 31%;
}
.programs .status-img {
    margin-top: 20px;
}
.programs .access-img {
    margin: 5px 5px 3px 0;
    width: 29px;
}
.programs .beside {
    margin-left: -16px;
    margin: 20px 0 20px -12px;
}
.programs .card hr {
    margin: 0;
}
.programs .beside p{
    color: #8392A7;
    font-size: 11px;
    margin-bottom: 2px;
    font-size: 11px;
}
.programs .beside p:first-child {
    font-weight: 600;
    color: #3B4859;
    margin-bottom: 2px;
    font-size: 13px;
}
.programs .pencil {
    margin: 222px 0 23px 0;
}
.programs .card h3 {
    color: #FF7302;
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 25px;
}
.programs .card .create {
    background-color: #FF7302;
    color: #fff;
    border-radius: 25px;
}
.programs .text {
    color: #3B4859;
    margin-top: 164px;
    font-size: 12px;
}
.programs .sub-text {
    color: #8392A7;
    font-size: 12px;
    margin-top: 23px;
}
.programs .renew {
    color: #FF7302;
    text-decoration: underline;
    font-weight: 600;
    margin-left: 10px;
}

/* Toast */
.failure .toast.show {
    position: fixed;
    bottom: 10px;
    right: 31px;
    width: 460px;
    padding: 13px 5px;
}
.toast-header {
    border-bottom: none;
}
.toast-body {
    font-size: 12px;
    color: #8685A6;
    padding-left: 45px;
}
.toast-header {
    padding: 0rem 0.75rem;
}
.success .toast.show {
    position: fixed;
    bottom: 190px;
    right: 31px;
    width: 460px;
    padding: 13px 5px;
}
/* Collapse */
#advanced .tag {
    min-width: 123px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#advanced .tag p {
    margin: 0;
    font-size: 10px;
}
#advanced .tags {
    display: flex;
    flex-wrap: wrap;
}
#advanced .card {
    height: auto;
    box-shadow: 0px 1px 4px #00000029;
    border-radius: 5px;
}
#advanced .card-header {
    padding: 15px 26px;
}
#advanced .btn {
    padding: 0;
    color: #FF7302;
    font-size: 14px;
}
#advanced .btn-link:hover, #advanced .btn-link:active, #advanced .btn-link:focus {
    text-decoration: none;
    color: #FF7302;
}
#advanced #headingOne {
    background-color: #fff;
}
#advanced .collapse-contain {
    cursor: pointer;
}
#advanced .dropdown .dropdown-button {
    background-color: transparent;
    border: 1px solid #ced4da;
    color: #707071;
    font-size: 13px;
    padding: 7px 13px;
    width: 220px;
    border-radius: 5px;
    height: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#advanced .dropdown .dropdown-button:hover, .dropdown .dropdown-button:active, .dropdown .dropdown-button:focus {
    background-color: transparent !important;
    border: 1px solid #919aaa !important;
    color: #707071 !important;
    box-shadow: 0px 0px 1px 1px #dbd8d8 !important;
}
#advanced .dropdown .dropdown-button-small {
    width: 140px;
}
#advanced .number-input-large {
    width: 135px;
    height: 38px;
}
#advanced .dropdown .dropdown-menu {
    width: 320px;
}
#advanced .dropdown .db-menu-small {
    width: 100%;
}
#advanced .dropdown .option {
    font-size: 14px;
}
#advanced .attribute-name {
    margin-left: 8px;
    font-size: 12px;
}
#advanced .action-link {
    color: #FF7302 !important;
    text-decoration: underline !important;
    font-size: 12px;
}
#advanced .add-btn {
    margin-top: 20px;
    color: #fff;
    padding: 9px 10px;
    font-size: 12px;
}
#advanced .apply {
    color: #fff;
    background-color: #FF7302;
}
#advanced .close-tag {
    color: #fff;
    border-left: 1px solid #fff;
    padding-left: 5px;
}
#advanced .close-tag:hover, #advanced .close-tag:active, #advanced .close-tag:focus {
    color: #fff;
}
/* View Player */
.player-profile {
    background-color: #fff;
    height: auto;
    box-shadow: 0px 2px 4px #EFF2F7;
    border-radius: 10px;
}
.player-profile .header {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    border-bottom: 1px solid #f9f9f9;
}
.player-profile .header h4 {
    margin: 0;
}
.player-profile .details {
    padding: 30px;
}
.player-profile .details .check {
    background-color: #ff7302;
    border-radius: 6px;
    box-shadow: 0px 3px 6px #2C28281C;
    width: 20px;
    padding: 2px;
}
.player-profile .details .profile {
    width: 138px;
}
.player-profile .details .value {
    color: #2F2F2F;
    margin: 0;
    font-size: 15px;
    font-weight: 600;
}
.player-profile .name {
    margin: 0;
    font-size: 15px;
}
.player-profile .name:before {
    content: url('../images/line.png');
    position: relative;
    left: -10px;
}
.player-profile .cbx {
    margin: 0;
}
.player-profile .tag {
    min-width: 120px;
    max-width: auto;
}
.player-profile .number-count {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #FF7302;
    border-radius: 10px;
    background-color: #fff;
}
.player-profile .number {
    font-weight: 600;
    font-size: 20px;
    padding: 0;
    color: #FF7302;
    margin: auto;
}
.player-profile .squares-title {
    margin-bottom: 8px;
    color: #000000;
    font-weight: 600;
    text-align: center;
}
.player-profile .more {
    color: #FF7302;
    text-decoration: underline;
    font-size: 11px;
}
.player-profile .square-details {
    color: #FF7302;
    font-size: 9px;
    margin-top: 3px;
    text-align: center;
}
.player-profile .medal {
    width: 70px;
    height: 93px;
    margin-bottom: 5px;
}
.player-profile .dropdown-list .dropdown-menu .dropdown-item:active, .player-profile .dropdown-list .dropdown-menu .dropdown-item:focus {
    background-color: #f8f9fa;
    color: #16181b;
}
.player-profile .dropdown-menu.drop-table.show {
    transform: translate3d(-165px, -11px, 0px) !important;
}
.player-profile .actions {
    display: flex;
}
.player-profile .actions .action-field {
    margin-right: 7px;
}
.player-profile .actions .action-icon {
    margin-right: 5px;
    vertical-align: middle;
    width: 17.5px;
}
.player-profile .actions .action-text {
    color: #172B4D;
}
.player-profile .header-actions {
    display: flex;
    align-items: center;
}
.header-actions .action {
    background-color: transparent;
    border: 1px solid #fff;
    font-size: 13px;
    outline: none;
    display: flex;
}
.header-actions .action span {
    margin-top: 3px;
}
.player-profile .sub {
    color: #FF7302;
}
.modal .label-custom-profile {
    margin-bottom: 0;
}
#currencyModal .modal-body .form-control {
    margin-bottom: 0 !important;
}
#currencyModal .beside-input {
    max-height: 40px;
}
#currencyModal .beside-input span {
    color: #8898AA;
    font-size: 11px;
}
#myTabContent-view {
    padding: 0;
}
#myTabContent-view .tab-pane {
    margin-top: 0;
}
#myTabContent-view .table {
    margin-top: 0;
}
/* Mission Types */
.horizontal-cards .card-component {
    background-color: #fff;
    box-shadow: 0px 5px 20px #EFF2F7;
    border-radius: 10px;
}
.horizontal-cards .card-title {
    font-size: 13px;
    color: #3B4859;
}
.horizontal-cards .card-text {
    font-size: 12px;
    color: #172B4D;
}
.horizontal-cards .card-component img {
    width: 60px;
}
.vertical-cards {
    margin-left: 25px;
}
.vertical-cards .card-component {
    background-color: #fff;
    box-shadow: 0px 5px 20px #EFF2F7;
    border-radius: 10px;
    padding: 30px 10px;
}
.vertical-cards .card-title {
    font-size: 17px;
    color: #3B4859;
    margin: 14px auto 18px auto;
}
.vertical-cards .card-text {
    font-size: 12px;
    color: #172B4D;
}
.vertical-cards .card-component img {
    width: 60px;
}
/* Create Attribute Page */
#attribute-create .dropdown .dropdown-button-small {
    width: 165px;
}
#attribute-create .action-link {
    color: #FF7302 !important;
    text-decoration: underline !important;
    font-size: 12px;
}
/* Loading */
#loading .modal-content {
    width: 525px;
    margin: 35% auto;
}
#loading .progress {
    border: 1px solid #d9d5d5;
    border-radius: 34px;
    height: 25px;
}
#loading .progress .progress-bar {
    background-color: #ff7302;
}
#loading .modal-body {
    padding: 1% 2% !important;
}
#loading .data p:last-child {
    margin-bottom: 0;
}


/* Account Settings */
.settings .tab-pane {
    margin-top: 0;
}
.settings .setting-head {
    border-bottom: 1px solid #f8f9fb;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.settings .setting-head .head-title p {
    color: #535f6e;
    font-size: 16px;
    margin-bottom: 6px;
    font-weight: 600;
}
.settings .setting-head .head-btn {
    margin-bottom: 12px;
}
.settings .profile-details .profile-image {
    width: 100px;
    display: inline-flex;
}
.settings .profile-details .profile-image img {
    width: 100px;
}
.settings .profile-details .change-image {
    color: #FF7302;
    font-size: 12px;
}
.settings .profile-details .name {
    color: #212121;
    margin-bottom: 0;
    margin-right: 8px;
}
.settings .profile-details .sep {
    margin-right: 8px;
}
.settings .profile-details .company-name {
    color: #212121;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 20px;
}
.settings .profile-details .email {
    color: #212121;
    font-size: 11px;
    margin: 0;
}
.settings .profile-details .company-image {
    width: 70px;
    display: inline-flex;
    border: 1px solid #F0F3F7;
    border-radius: 4px;
    padding: 10px 4px;
    margin-top: 10px;
}
.settings .profile-details .company-image img {
    width: 100%;
}
.settings .profile-details .change-logo {
    color: #FF7302;
    font-size: 10px;
}
.settings .profile-details .right-buttons .btn-main {
    min-width: 170px;
}
.settings .profile-details .right-buttons .lock-icon {
    width: 20px;
}
.settings .profile-details .right-buttons .facebook-icon {
    width: 8px;
}
.settings .slider .card-header {
    background-color: #fff;
    border-bottom-color: #f6f8fa;
    padding: 8px 20px;   
}
.settings .slider .card-header .left p {
    color: #3B4859;
    font-weight: 600;
    margin-bottom: 0;
}
.settings .slider .card-body .players-image {
    width: 65px;
    display: inline-flex;
}
.settings .slider .card {
    min-height: 207px;
}
.settings .slider p {
    color: #3B4859;
    font-size: 12px;
}
.settings .slider .left p {
    font-size: 13px;
}
.settings .slider .small-paragraph {
    font-size: 11px;
    color: #959595;
}
.settings .assigned {
    margin-top: 0;
}
.settings .program-highlights {
    margin-top: 13px;
}
.settings .program-highlights .value {
    margin-bottom: 0;
    margin-top: -1px;
}
.settings .address, .settings .company {
    color: #3B4859;
    font-weight: 600;
    margin-left: 20px;
    margin-bottom: 15px;
}
#payment .card {
    padding: 20px 14px 2px 39px;
    position: relative;
    margin-left: 15px;
}
#payment .card .tag , #payment .card .link {
    position: absolute;
    bottom: 4px;
    right: 4px;
    padding: 4px 5px;
}
#payment .card .tag p {
    margin-bottom: 0;
    font-size: 11px;
}
.action-link {
    color: #FF7302 !important;
    text-decoration: underline !important;
    font-size: 12px;
    text-transform: uppercase;
}
#payment .card .link a {
    color: #FF7302 !important;
    text-decoration: underline !important;
    font-size: 11px;
}
#order-history .history {
    border-bottom: 1px solid #f5f7fa;
}
#order-history .details {
    color: #7e8792;
    font-size: 11px;
}
#order-history .date {
    color: #3B4859;
}
#order-history .history-text {
    color: #3B4859;
}
#order-history .link {
    color: #FF7302;
    font-size: 11px;
}
#transactions .transaction {
    border-bottom: 6px solid #f9fafc;
}
#transactions .transaction:last-child {
    border-bottom: none;
}
#transactions .transactions-head {
    border-bottom: 1px solid #f5f7fa;
}
#transactions .transaction-title {
    font-size: 14px;
    color: #3B4859;
    font-weight: 600;
}
#transactions .trans-text {
    color: #3B4859;
}
#transactions .assigned {
    padding-left: 27px;
}
#transactions .program-highlights {
    margin-top: 7px;
}
#transactions .btn-main {
    min-width: 95px;
}
#manage .card, #buy .card{
    min-height: 100%;
}
#manage .card-body, #buy .card-body {
    padding: 10px 21px;
}
#editBillingModal .modal-input {
    width: 100%;
    font-size: 10px;
}
#editBillingModal .label-custom {
    font-size: 12px;
    min-width: auto;
}
#editBillingModal .modal-body .form-control {
    margin-bottom: 0;
}
#editBillingModal .text {
    font-size: 11px;
    color: #172B4D;
    margin-bottom: 10px;
}
#editBillingModal .dropdown {
    width: 100%;
}
#editBillingModal .dropdown .dropdown-button {
    width: 100%;
    font-size: 10px;
    color: #172B4D;
}
#editBillingModal .dropdown .dropdown-button:hover, #editBillingModal .dropdown .dropdown-button:active, #editBillingModal .dropdown .dropdown-button:focus {
    color: #172B4D !important;
}
#editBillingModal .dropdown-toggle::after {
    top: 5px;
    right: 1px;
}
#editBillingModal .dropdown .option {
    font-size: 11px !important;
}
#editBillingModal .dropdown .dropdown-menu {
    min-width: 100%;
}
#editBillingModal .modal-footer {
    padding: 0;
}
#creditCardModal .text {
    font-size: 11px;
    color: #172B4D;
    margin-bottom: 10px;
}
#creditCardModal .label-custom {
    min-width: auto !important;
}
#creditCardModal .modal-input {
    width: 85%;
}
#creditCardModal .credit-details {
    border: 1px solid #d5d5d5;
    padding: 26px 20px 10px 20px;
}
#creditCardModal .modal-footer {
    padding: 0;
}
#creditCardModal .secure-text {
    color: #172B4D;
    font-size: 11px;
    margin-top: 3px;
}
.bs-vertical-wizard {
    padding-bottom: 50px;
}
.bs-vertical-wizard ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.bs-vertical-wizard ul>li {
    display: block;
    position: relative;
}
.bs-vertical-wizard ul>li>a {
    display: block;
    padding: 10px 10px 10px 0px;
    color: #2EC4B6;
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    font-weight: 600;
}
.bs-vertical-wizard ul>li.complete>a:before {
    content: '';
    position: absolute;
    width: 1px;
    height: calc(100% - 37px);
    background-color: #ecedee;
    left: 0;
    bottom: -10px;
    z-index: 3;
}
.bs-vertical-wizard ul>li>a .ico {
    pointer-events: none;
    font-size: 14px;
    position: absolute;
    left: 10px;
    top: 15px;
    z-index: 2;
}
.bs-vertical-wizard .desc {
    display: block;
    color: #bdc2ce;
    font-size: 11px;
    font-weight: 400;
    line-height: 1.8;
    letter-spacing: .8px;
    margin-left: 40px;
}
.bs-vertical-wizard ul>li.current>a:before {
    content: '';
    position: absolute;
    width: 1px;
    height: calc(100% - 32px);
    background-color: #ecedee;
    left: 0;
    bottom: -15px;
    z-index: 3;
}
.bs-vertical-wizard ul>li.lock>a:before {
    content: '';
    position: absolute;
    width: 1px;
    height: calc(100% - 15px);
    background-color: #ecedee;
    left: 0;
    bottom: -15px;
    z-index: 3;
}
.bs-vertical-wizard ul>li.complete>a:after {display:none;}
.bs-vertical-wizard ul>li.locked>a:after {display:none;}
.bs-vertical-wizard ul>li:last-child>a:before {display:none;}
.bs-vertical-wizard ul>li.complete>a .ico {
    left: 8px;
}
.bs-vertical-wizard ul>li>a .ico.ico-muted {
    color: #bdc2ce;
}
.bs-vertical-wizard ul>li.current {
    background-color: #fff;
}
.bs-vertical-wizard ul>li.current:after, .bs-vertical-wizard ul>li.current:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.bs-vertical-wizard ul>li.current:after {
    border-color: rgba(255,255,255,0);
    border-left-color: #fff;
    border-width: 10px;
    margin-top: -10px;
}
.bs-vertical-wizard .rectangle {
    display: inline-block;
    background-color: #2EC4B6;
    width: 77px;
    height: 37px;
    color: #fff;
    font-weight: 600;
    font-size: 24px;
    text-align: end;
    margin-right: 1%;
    margin-left: 0;
    padding-right: 1%;
    margin-right: 15px;
}
.bs-vertical-wizard .dot {
    width: 17px;
    height: 17px;
    background-color: #CBCBCB;
    border-radius: 50%;
    display: inline-block;
    margin-left: -8px;
    margin-right: 15px;
}
.bs-vertical-wizard .lock .bs-vertical-wizard li a {
    padding: 10px 10px 10px 5px !important;
}
.bs-vertical-wizard .complete, .current, .lock {
    padding-bottom: 20px;
}
.bs-vertical-wizard .lock-text {
    color: #CBCBCB;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    transform: translateY(-4px);
    display: inline-block;
}
.bs-vertical-wizard .content {
    margin-left: 78px;
}
.bs-vertical-wizard .content .radio-cutom span {
    font-size: 11px;
    font-weight: 400;
    color: #212121;
}
.bs-vertical-wizard .radio-cutom {
    display: block;
}
.bs-vertical-wizard .spinner--vertical .spinner__button {
    width: 32%;
}
.bs-vertical-wizard .spinner--vertical .spinner__input {
    min-width: 32% !important;
    max-width: 32% !important;
}
#buy .bs-vertical-wizard .card-title {
    color: #212121;
    font-size: 14px;
    margin-bottom: 3px;
    font-weight: 600;
}
#buy .bs-vertical-wizard .text {
    font-size: 11px;
    color: #212121;
    margin-bottom: 2px;
}
#buy .bs-vertical-wizard .describtion {
    font-size: 10px;
    color: #959595;
}
#buy .bs-vertical-wizard .card-text {
    font-size: 11px;
    text-align: center;
    color: #212121;
    margin-bottom: 2px;
}
#buy .bs-vertical-wizard .small-text {
    font-size: 7px;
    color: #959595;
    margin-left: 31px;
}
#buy .table {
    box-shadow: none;
}
#buy table thead {
    background-color: #fff;
    color: #212121;
    font-size: 12px;
}
#buy table thead tr {
    background-color: #fff;
}
#buy .table thead th {
    border-top: 1px solid #f5f7fa;
    border-bottom: 1px solid #f5f7fa;
    font-weight: 600;
}
#buy .table th, .table td {
    border-top: none;
    font-weight: 400;
}
#buy .table tbody tr {
    font-size: 12px;
    color: #212121;
    font-weight: 400;
}
#buy .table tbody tr:nth-child(2n) {
    background-color: #fff;
}
#buy table .total {
    font-size: 14px;
    color: #FF7302;
}
#buy table tbody .amount {
    background-color: #F0F3F7 !important;
    border-bottom: 1px solid #fff;
}
#manage .bs-vertical-wizard .card-title {
    color: #212121;
    font-size: 14px;
    margin-bottom: 3px;
    font-weight: 600;
}
#manage .bs-vertical-wizard .text {
    font-size: 11px;
    color: #212121;
    margin-bottom: 2px;
}
#manage .bs-vertical-wizard .describtion {
    font-size: 10px;
    color: #959595;
    margin-top: 13px;
}
#manage .bs-vertical-wizard .card-text {
    font-size: 11px;
    text-align: center;
    color: #000000;
    margin-bottom: 2px;
    margin-top: 20px;
}
#manage .bs-vertical-wizard .small-text {
    font-size: 7px;
    color: #959595;
    margin-left: 31px;
}
#paymentModal .modal-dialog {
    max-width: 450px;
}
#verificationModal .modal-dialog {
    width: 500px;
}
#paymentModal .modal-footer, #verificationModal .modal-footer {
    width: 100%;
    margin-left: 0;
}
.boxes {
    display: flex;
}
.boxes .card {
    width: 18%;
    margin-right: 2%;
    cursor: pointer;
}
.boxes a {
    box-shadow: 0px 5px 20px #EFF2F7;
    border-radius: 10px;
}
.card:hover, .card:active, .card:focus {
    border: 1px solid #FF7302;
}
.boxes .card-body {
    padding: 26px 17px;
}
.boxes .card-body img {
    max-width: 62px;
    margin-bottom: 14px;
}
.boxes .card-body .card-title {
    color: #3B4859;
    font-size: 17px;
    margin-bottom: 0;
}